.Fretboard {
  display: inline-flex;
  flex-direction: column;
  background: hsl(28, 5%, 27%);
  color: hsl(0, 0%, 90%);
  border-top: 2px solid hsl(28, 15%, 20%);
  border-bottom: 2px solid hsl(28, 15%, 20%);
}
